/** Primary Fonts **/
/* 
**
Gothic A1 = Korean
M PLUS 1p = Japana
Promt = Thailandish
Source Sans Pro = Rest
**
*/
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:100,200,300,400,500,600,700,800,900|M+PLUS+1p:100,300,400,500,700,800,900|Prompt:100,200,300,400,500,600,700,800,900|Source+Sans+Pro:200,300,400,600,700,900&subset=cyrillic,cyrillic-ext,greek,greek-ext,hebrew,japanese,korean,latin-ext,thai,vietnamese');
/** Secondary Fonts **/
/* 
**
Nanum Gothic = Korean
M PLUS Rounded 1c = Japana and Evraika
Mitr = Thailandish
Jura = Greek and Kyrillic
Raleway = Rest
**
*/
@import url('https://fonts.googleapis.com/css?family=Jura:300,400,500,600,700|M+PLUS+Rounded+1c:100,300,400,500,700,800|Mitr:200,300,400,500,600,700|Nanum+Gothic:400,700,800|Raleway:100,200,300,400,500,600,700,800,900&subset=cyrillic,cyrillic-ext,greek,greek-ext,hebrew,japanese,korean,latin-ext,thai,vietnamese');
/* Comfortaa */
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700|Noto+Sans+JP:100,300,400,500,700,900|Noto+Sans+KR:100,300,400,500,700,900|Noto+Sans+SC:100,300,400,500,700,900|Noto+Sans+TC:100,300,400,500,700,900|Noto+Sans:400,700&subset=chinese-simplified,chinese-traditional,cyrillic,cyrillic-ext,devanagari,greek,greek-ext,hebrew,japanese,korean,latin-ext,vietnamese');	
@font-face {
    font-family:  Mpisto;
    src:url('MpistoU2019-MediumCondensed.ttf') format('truetype');
	font-weight:500;
	font-stretch: condensed
}

/*@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-SemiCondensedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: semi-condensed
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-SemiexpandedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: semi-expanded
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-CondensedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: condensed
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-expandedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: expandeed
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-ExtraCondensedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: extra-condensed
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-ExtraExpandedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: extra-expanded
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-UltraCondensedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: ultra-condensed
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-UltraExpandedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: ultra-expanded
}


*/
	   
@font-face {
    font-family:  Mpisto;
    src:url('MpistoU2019-Regular.ttf') format('truetype');
}

@font-face {
    font-family:  Mpisto;
    src:url('MpistoU2019-Light.ttf') format('truetype');
	font-weight:300;
}

@font-face {
    font-family:  Mpisto;
    src:url('MpistoU2019-Medium.ttf') format('truetype');
	font-weight:500;
}

@font-face {
    font-family:  Mpisto;
    src:url('MpistoU2019-Bold.ttf') format('truetype');
	font-weight:700;
}

	html {
		background-color:#e995ca;
		scrollbar-color:#ee0000 #e995ca;
		scrollbar-color:var(--button-bg, #ee0000) #e995ca;
		transition:scrollbar-color 250ms ease-in-out 2ms;
	}

	body {
		width:100%;
		height:100%;
/*		font-family:Comfortaa, "Mitr",  "M PLUS 1p", "Gothic A1";*/
		font-family:"Mpisto", "Flockk", "Source Sans Pro", "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Sans SC", "Noto Sans TC";
		margin:0;
		font-weight:500;
		background-image:none;
		background-color:transparent;
	}

body:after {
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:fixed;
	display:block;
	content:"";
	background-position:top center;
	background-repeat:no-repeat;
	z-index:-1;
	background-image:url("headbg5.jpg");
	background-color:#e995ca;
}


	* {
		outline:0;
		-webkit-tap-highlight-color:transparent;
		-ms-high-contrast-adjust:none;
		image-rendering:optimizeSpeed;             /* Legal fallback */
		image-rendering:-moz-crisp-edges;          /* Firefox        */
		image-rendering:-o-crisp-edges;            /* Opera          */
		image-rendering:-webkit-optimize-contrast; /* Safari         */
		image-rendering:optimize-contrast;         /* CSS3 Proposed  */
		image-rendering:pixelated;                 /* CSS4 Proposed  */
		image-rendering:crisp-edges;               /* CSS4 Proposed  */
		-ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
		-qq-image-blurring:cross;                  /* 4x4 Web 1-2    */
	}

	a:not(:hover):not(active):not(:focus) {
		text-decoration:none;
	}
	h1,h2,h3,h4,h5,h6 {
		margin:8px 0;
	}
	
	.article h1, .article h2 {
		-webkit-text-stroke:0.8px #ff5b63;
	}
	
	a {
	cursor:pointer;
	}
	.table {
		display:table;
	}
	.tr {
		display:table-row-group;
		vertical-align:middle;
	}
	.col {
		display:table-column-group;
		vertical-align:middle;
	}
	.thead {
		display:table-header-group;
		vertical-align:middle;
	}
	.tfoot {
		display:table-footer-group;
		vertical-align:middle;
	}
	.cell {
		display:table-cell;
		vertical-align:middle;
		text-align:center;
	}

	.navbar {
		height:49px;
		box-sizing:border-box;
		width:100%;
		background-color:#000000;
		background-color:var(--header-bg, #000000);
		box-shadow: 0 0 3px #111;
		color:whitesmoke;
		border-spacing:0;
		position:fixed;
		z-index:90;
	    font-family:Source Sans Pro, "Prompt",  "M PLUS 1p", "Gothic A1";
		transition:all 250ms ease-in-out 2ms;
	}


	.navbar .dropdown {
		display:table-cell;
		vertical-align:top;
	}
	.navbar .dropdown .link {
		vertical-align:middle;
	}
	.navbar .dropdown .link * {
		vertical-align:middle;
	}


	.navbar-wrapper {
		margin:0 auto;
		width:auto;
		max-width:926px;
		padding:0 18px;
	}
	.dropdown {
		display:table-cell;
		position:relative;
	}
	svg {
	fill:currentColor;
	}
	.icon {
		width:24px;
		height:24px;
		vertical-align:middle;
	}
	.navbar .link {
		transition:all 400ms ease;
		padding: 0 10px;
		height:49px;
		color:whitesmoke;
		text-decoration:none!important;
		font-size:18px;
		white-space:nowrap;
	}
	.navbar .link:hover, .navbar .dropdown:hover .link {
		background-color:rgba(248,248,248,0.35);
		color:white;
	}

	.navbar .link .name {
		font-size:80%;
		font-weight:bolder;
		max-width:80px;
		text-overflow:ellipsis;
		overflow:hidden;
		display:inline-block;
		margin-left:2px;
		vertical-align:middle;
	}

	.navbar .link.company {
		width:100%;
	}
	.avatar {
		border-radius:15%;
		width:24px;
		height:24px;
		border:1px solid;
		vertical-align:middle;
		image-rendering:initial;                  /* CSS4 Proposed  */
		-ms-interpolation-mode:bicubic;           /* IE8+           */
		-qq-image-blurring:tick;                  /* 4x4 Web 1-2    */
	}
	.top-gap {
		height:49px;
		padding:10px;
	}


	button {
		-webkit-appearance:none;
		   -moz-appearance:none;
		        appearance:none;
		background:#ee1111;
		background-color:var(--button-bg, #ee1111);
		border:1px solid #ee1111;
		border-color:var(--button-bg, #ee1111);
		color:whitesmoke;
		border-radius:4px;
		min-height:15px;
		padding:7.25px 12.55px;
		display:inline-block;
		transition:all 250ms ease-in-out 2ms;
		outline:0;
		font-family:Inherit;
		cursor:pointer;
		font-size:12.6px;
		font-weight:500;
		background-clip:padding-box;
		vertical-align:middle;
		margin:0 2px;
		position:relative;
		z-index:1;
		line-height:17px;
	}

button:not([secondary]):not([tabbed])::after {
  z-index:-1;
  top:0;
  left:0;
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  z-index:-1;
  transition:inherit;
  border-radius:inherit;
}

button:not([secondary]):not([tabbed]):hover::after, button:not([secondary]):not([tabbed]):focus::after {
	background-color:rgba(248,248,248,0.35)
}


	button * {
		vertical-align:middle;
	}
	button .icon {
		width:18px;
		height:18px;
		margin-right:5px;
	}
	button:hover {
		color:#fff;
	}
	button:focus {
		text-shadow:0 0 1.88px white;
		color:#fff;
	}
	button[secondary] {
		background-color:transparent;
		color:#ee1111;
		color:var(--button-bg, #ee1111);
	}
	button[secondary]:hover, button[secondary]:focus {
		opacity:0.7;
		background-color:transparent;
	}
	button[tabbed] {
		background-color:transparent;
		color:#ee1111;
		color:var(--button-bg, #ee1111);
		border-color:transparent;
	}

	button[tabbed]:hover, button[tabbed]:focus {
		background-color:transparent;
		opacity:0.7;
	}

 button[secondary]:focus,  button[tabbed]:focus {
	text-shadow:0 0 1.5px black;
 }

	.content {
		box-sizing:border-box;
		border:1px solid #ff5b63;
		color:#113311;
		background-color:rgba(159,107,179,0.9);
		width:auto;
		max-width:926px;
		margin:0 auto;
		min-height:100px;
		box-shadow:0 2px 6px 0.1px rgba(0,0,0,.2), 0 2px 6px 0.1px rgba(255,255,255,0.2);
	}
	
	.dropdown-content {
		display:none;
	background-color:#C8B2D5;
	left:50%;
	-webkit-transform:translateX(-50%);
	        transform:translateX(-50%);
	   	color:#113311;
	   	padding:8px;
	   	border:1px solid #ff5b63;
	   	border-radius:6px;
		position:absolute;
		top:100%;
		box-shadow:0 4px 8px 0.1px rgba(0,0,0,.2), 0 4px 8px 0.1px rgba(255,255,255,0.2);
		width:auto;
		z-index:2
	 }

	.dropdown-content.left {
	left:0%;
	-webkit-transform:none;
			transform:none;
		min-width:150px;
	}

	.dropdown-content.right {
	left:auto;
	right:0%;
	-webkit-transform:none;
			transform:none;
		min-width:150px;
	}
	 
	 .dropdown-content a {
      display: block;
      color: inherit;
      cursor: pointer;
      white-space:nowrap;
      padding: 7px;
      font-size:15px;
      text-decoration: none;
      line-height: 1;
      transition:all 250ms linear 10ms;
      border:1px solid transparent;
      box-shadow:0 0 0 1px transparent;
	 }

	 .dropdown-content a:hover {
		color:white;
		background-color:#ee1111;
		background-color:var(--button-bg, #ee1111);
		border-color:rgba(248,248,248,0.6);
		box-shadow:0 0 0 1px #ee1111;
		box-shadow:0 0 0 1px var(--button-bg, #ee1111);
	 }
	 
	.dropdown:hover .dropdown-content {
		display:inline-block;
	}

 .dropdown::after,.dropdown::before{bottom:-1px;content:'';display:none;height:0;left:50%;position:absolute;width:0;z-index:2}
 
 .dropdown::after{border:7px solid transparent;border-bottom-color:#C8B2D5;margin-left:-7px}

.dropdown::before{border:8px solid transparent;border-bottom-color:#ff5b63;margin-left:-8px}

.dropdown:hover::after,.dropdown:hover::before{display:block}


	.clr:after {
		display:block;
		visibility:hidden;
		clear:both;
		content:"";
		height:0;
		width:0;
	}
	.content .wrapper {
		position:relative;
		padding:18px;
	}
	.page-header {
		border-bottom:1px solid #ff5b63;
		padding:0 0 10px;
		margin:0 0 10px;
		width:100%;
		text-align:center;
	}

	.page-header h1 {
		margin:-14px 0 8px;
		line-height:1.5;
		border-bottom:1px solid #ff5b63;
		-webkit-text-stroke:1px #ff5b63;
		font-size:40px;
		text-align:left;
	}

@-webkit-keyframes color-header-hover {
	0%		{ background-color:transparent; }
	50%  	{ background-color:rgba(248,248,248,0.35); }
	100%	{ background-color:transparent; }
}


@keyframes color-header-hover {
	0%		{ background-color:transparent; }
	50%  	{ background-color:rgba(248,248,248,0.35); }
	100%	{ background-color:transparent; }
}

	.color-header {
		margin:-1px -2px -2px;
		color:whitesmoke;
		background-color:#000000;
		background-color:var(--header-bg, #000000);
		height:60px;
		transition:background-color 250ms ease-in-out 2ms;
	}
	
	.color-header .wordmark img {
		height:54px;
		margin:0 10px;
		vertical-align:middle;
	}
	
	.color-header .counter {
		height:60px;
		font-size:17px;
		font-weight:500;
		white-space:nowrap;
		padding:0 17px;
	}

	.color-header .counter big {
		font-weight:bolder;
		font-size:130%;
	}

	.color-header .link {
		transition:color 400ms ease, background-color 300ms linear 200ms;
		padding: 0 12px;
		height:60px;
		color:whitesmoke;
		text-decoration:none!important;
		font-size:18px;
	}

	.color-header .link:hover {
		-webkit-animation: 600ms linear 200ms infinite normal color-header-hover;
		        animation: 600ms linear 200ms infinite normal color-header-hover;
		background-color:rgba(248,248,248,0.35);
		color:white;
	}
	
	.color-header .title {
		width:100%;
		line-height:1.4;
		font-size:34px;
		font-weight:800;
		height:60px;
		padding:0 17px;
		-webkit-text-stroke:1.5px rgba(23,23,23,0.7);
	}
	
		.color-header .title a {
			color:inherit;
		}

		.color-header .title a:hover {
			color:white;
		}
	
	.button-group {
	display:inline-table;
	vertical-align:middle;
	border-spacing:0;
	margin:0 2px;
	}
	.button-group button {
		margin:0 -1px 0 0;
		float:left;
	}
	.button-group > button:not(:first-child):not(:last-child):not(:only-child):not([secondary]):not([tabbed]), .button-group > *:not(:first-child):not(:last-child):not(:only-child)  button:not([secondary]):not([tabbed]){
		border-left-color:transparent!important;
		border-right-color:transparent!important;
	}
	.button-group > button:last-child:not(:first-child):not(:only-child):not([secondary]):not([tabbed]), .button-group > *:last-child:not(:first-child):not(:only-child)  button:not([secondary]):not([tabbed]) {
		border-left-color:transparent!important;
	}
	.button-group > button:first-child:not(:last-child):not(:only-child):not([secondary]):not([tabbed]), .button-group > *:first-child:not(:last-child):not(:only-child)  button:not([secondary]):not([tabbed]){
		border-right-color:transparent!important;
	}
	
	.button-group > button:not(:first-child):not(:last-child):not(:only-child), .button-group > *:not(:first-child):not(:last-child):not(:only-child)  button{
		border-radius:0!important;
	}
	.button-group > button:last-child:not(:first-child):not(:only-child), .button-group > *:last-child:not(:first-child):not(:only-child)  button{
		border-top-left-radius:0!important;
		border-bottom-left-radius:0!important;
	}
	.button-group > button:first-child:not(:last-child):not(:only-child), .button-group > *:first-child:not(:last-child):not(:only-child)  button{
		border-top-right-radius:0!important;
		border-bottom-right-radius:0!important;
	}

	.article-wrapper {
	box-sizing:border-box;
	padding:0 0 10px;
	width:100%;
	}
	.article {
		width:100%;
		text-align:left;
		vertical-align:baseline;
	}
	.article h2 {
		border-bottom:1px solid #ff5b63;
	}
	.right-rail {
		width:320px;
		text-align:left;
		vertical-align:baseline;
	}

	.module {
	min-height:50px;
	margin:0 14px 14px;
	box-shadow: 0 0 1px 1.2px rgba(248,248,248,0.5), 0 0 2px rgba(23,23,23,0.4), 0 2px 2.5px 2px #ff5b63;
	display:block;
	border-radius:10.5px;
	border:1px solid #ff5b63;
	background-color:#C8B2D5;
	width:310px;
	}
	.module h2 {
		border-bottom:1px solid #ff5b63;
		padding:10px;
		font-size:20px;
		background-color:rgba(0,0,0,0.15);
		margin:0 0 10px;
		border-top-left-radius:inherit;
		border-top-right-radius:inherit;
	}
	.module .module-content {
		padding:0 10px;
		font-size:15px;
		letter-spacing:0.1px;
	}
	.module .module-buttons {
		border-top:1px solid #ff5b63;
		padding:10px;
		font-size:18px;
		background-color:rgba(23,23,23,0.1);
		border-bottom-left-radius:inherit;
		border-bottom-right-radius:inherit;
		text-align:center;
	}
	.module .module-buttons .button-group {
		text-align:left;
	}


.main-footer {
position:relative;
background-color:#C8B2D5;
border-top:1px solid #ff5b63;
width:calc(100% + 50px);
width:100%;
margin:20px 0px 0px;
padding:10px;
box-sizing:border-box;
letter-spacing:0.3px;
text-align:center;
clear:both;
}


.main-footer hr {
		border:4px inset #ee1111;
		border-color:var(--button-bg, #ee1111);
		transition:all 250ms ease-in-out 2ms;
}


/* Footer */
footer.footer {
width:100%;
min-height:50px;
/*border-top:2px solid #ff5b63;
*/
margin:30px 0 0;
background-color:#113311;
color:#C8B2D5;
position:relative;
z-index:49;
padding:0 18px;
box-shadow:0 0 9px #ff5b63, 0 0 2.5px #113311, 0 0 1.5px #C8B2D5;
box-shadow: 0 0 3px #113311, 0 0 3px #C8B2D5;
box-sizing:border-box;
font-family:Source Sans Pro, "Prompt",  "M PLUS 1p", "Gothic A1";
}

footer.footer .wrapper {
/*border:1px solid #ff5b63;
border-top-style:hidden;
border-bottom-style:hidden;
*/
width:100%;
max-width:926px;
border-spacing:0;
margin:0 auto;
color:inherit;
border-collapse:separate; /* Mac mInerva and QortaQorte uses border-collapse:collapse by default, leading to unexpected layout */
font-weight:400;
}

footer.footer .wrapper .footer-container {
min-height:30px;
}

footer.footer .wrapper .footer-container > * > th,
footer.footer .wrapper .footer-container > * > td {
/*border:1px solid #ff5b63;
*/
box-sizing:border-box;
}

footer.footer .wrapper .footer-container th {
width:100%;
}

footer.footer .wrapper .footer-container th .wordmark {
	max-height:65px;
}

footer.footer .wrapper .footer-container th h1 {
font-weight:600;
font-size:36px;
display:inline;
vertical-align:middle;
margin-left:8px;
}

footer.footer .wrapper .footer-container th * {
vertical-align:middle;
}

footer.footer .wrapper .footer-container th.footer-bar h3 {
font-size:20px;
}

footer.footer .wrapper .footer-container th {
position:relative;
font-weight:inherit;
z-index:1;
}

footer.footer .wrapper .footer-container th:not(.footer-bar) {
  border-top:0;
  height:65px;
}

/*footer.footer .wrapper .footer-container th::after {
position:absolute;
top:0;
left:0;
height: 100%;
width: 100%;
z-index:-1;
content:"";
display:block;
background-color:#113311;
opacity:0.11;
}
*/

footer.footer .wrapper .footer-container td {
/*font-size:17px;
padding:4px 8px 8px;
*/
position:relative;
z-index:1;
font-weight:500;
text-align:left;
}


/*footer.footer .wrapper .footer-container td::after {
position:absolute;
top:0;
left:0;
height: 100%;
width: 100%;
z-index:-1;
content:"";
display:block;
background-color:#113311;
opacity:0.035;
}
*/

footer.footer .wrapper .footer-container td h2 {
	font-size:24px;
	font-weight:bolder;
	text-align:left;
	font-family:"Raleway", "Jura", "Mitr", "M PLUS Rounded 1c", "Nanum Gothic", cursive;
}

footer.footer .wrapper .footer-container td a {
/*
padding:6px 2px;
*/
display:block;
-o-transition:all 150ms ease 12ms;
transition:all 150ms ease 12ms;
text-decoration:none;
line-height:1.5;
-o-transition:all 500ms;
transition:all 500ms;
font-size:16px;
clear:both;
color:#ff5b63;
}

footer.footer .wrapper .footer-container td a:hover {
    color:#C8B2D5;
}


/* Smaller */
@media only screen and (max-width:959px) {
	body:after {
		background-image:none!important;
	}
	.article-wrapper, .article, .right-rail {
		display:block!important;
	}
	.right-rail {
		margin-top:18px;
		width:100%;
	}
	
	.article {
		width:100%;
	}

	.right-rail .module {
		width:auto;
	}

	.content {
		width:auto;
		margin-left:18px;
		margin-right:18px;
	}
	.color-header .title {
		font-size:25px;
		padding:0 14px;
		height:55px;
		-webkit-text-stroke-width:1px;
	}

	.color-header .link {
		padding:0 10px;
		height:55px;
	}

	.color-header .counter {
		padding:0 14px;
		font-size:15px;
		height:55px;
	}

	.color-header {
		height:55px;
	}
	
	.color-header .wordmark img {
		height:50px;
	}


}


@media only screen and (min-width:700px) and (max-width:959px) {
	.right-rail {
		-webkit-column-count:2;
		        column-count:2;
	}
}



/* 1100 pixels */
@media only screen and (min-width:1100px) {
	.content, footer.footer .wrapper, .navbar-wrapper {
		max-width:1066px;
		width:1066px;
	}
}

/* Reduced Motion */
@media only screen and (prefers-reduced-motion:reduce) {
	* {
		-webkit-animation:none!important;
		animation:none!important;
	}
}

.custom-theme {
--button-bg:#18bbc5;
--header-bg:#fe4500;
}